NodeRED_flow.json
[{"id":"d015f56e.3e42f8","type":"subflow","name":"Debug","info":"","in":[],"out":[{"x":320,"y":120,"wires":[{"id":"db40be70.beaf3","port":0}]},{"x":300,"y":200,"wires":[{"id":"467ad7b1.a71a98","port":0}]},{"x":360,"y":280,"wires":[{"id":"68b56647.ab8bf8","port":0}]},{"x":360,"y":360,"wires":[{"id":"1da29822.0832a8","port":0}]},{"x":320,"y":440,"wires":[{"id":"9df14b04.ed7238","port":0}]}]},{"id":"467ad7b1.a71a98","type":"inject","z":"d015f56e.3e42f8","name":"Hello","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":200,"wires":[[]]},{"id":"68b56647.ab8bf8","type":"inject","z":"d015f56e.3e42f8","name":"Lamp office ON","topic":"","payload":"Turn on lamp in office","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":280,"wires":[[]]},{"id":"9df14b04.ed7238","type":"inject","z":"d015f56e.3e42f8","name":"Goodbye","topic":"","payload":"Goodbye","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":440,"wires":[[]]},{"id":"1da29822.0832a8","type":"inject","z":"d015f56e.3e42f8","name":"Lamp office OFF","topic":"","payload":"Turn off lamp in office","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":360,"wires":[[]]},{"id":"db40be70.beaf3","type":"inject","z":"d015f56e.3e42f8","name":"Weather","topic":"","payload":"What is the weather in Stockholm next weekend?","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":120,"wires":[[]]},{"id":"6daa3f38.c4a55","type":"subflow","name":"Weather","info":"","in":[{"x":60,"y":220,"wires":[{"id":"210e4258.a5e9fe"}]}],"out":[{"x":1080,"y":320,"wires":[{"id":"dd3698ec.bce338","port":0}]}]},{"id":"da5f1ec.573e3e","type":"function","z":"6daa3f38.c4a55","name":"Prepare URL","func":"var address = msg.payload.location.address[0];\nvar lat = msg.payload.location.latitude[0];\nvar long = msg.payload.location.longitude[0];\n\nvar url = 'https://twcservice.mybluemix.net/api/weather/v1/geocode/' + lat + '/' + long;\nif (msg.startDate)\n    url += '/forecast/daily/10day.json';\nelse \n    url += '/observations.json';\nurl += '?language=en-US&units=m';\n\nmsg.url = url;\nreturn msg;\n\n\n/*\n{\n  \"location\": {\n    \"address\": [\n      \"Oslo, Norway\",\n      \"Oslob, Cebu, Philippines\",\n      \"Oslo, Minnesota, United States\",\n      \"Oslon, SaÙne-et-Loire, France\",\n      \"Oslomej Municipality, Republic of Macedonia\",\n      \"Osloﬂ, Lower Saxony, Germany\",\n      \"Oslov, South Bohemia Region, Czech Republic\"\n    ],\n    \"adminDistrict\": [\n      null,\n      \"Cebu\",\n      \"Minnesota\",\n      \"SaÙne-et-Loire\",\n      null,\n      \"Lower Saxony\",\n      \"South Bohemia Region\"\n    ],\n    \"adminDistrictCode\": [\n      null,\n      null,\n      \"MN\",\n      null,\n      null,\n      null,\n      null\n    ],\n    \"city\": [\n      \"Oslo\",\n      \"Oslob\",\n      \"Oslo\",\n      \"Oslon\",\n      \"Oslomej Municipality\",\n      \"Osloﬂ\",\n      \"Oslov\"\n    ],\n    \"country\": [\n      \"Norway\",\n      \"Philippines\",\n      \"United States\",\n      \"France\",\n      \"Republic of Macedonia\",\n      \"Germany\",\n      \"Czech Republic\"\n    ],\n    \"countryCode\": [\n      \"NO\",\n      \"PH\",\n      \"US\",\n      \"FR\",\n      \"MK\",\n      \"DE\",\n      \"CZ\"\n    ],\n    \"displayName\": [\n      \"Oslo\",\n      \"Oslob\",\n      \"Oslo\",\n      \"Oslon\",\n      \"Oslomej Municipality\",\n      \"Osloﬂ\",\n      \"Oslov\"\n    ],\n    \"ianaTimeZone\": [\n      null,\n      null,\n      null,\n      null,\n      null,\n      null,\n      null\n    ],\n    \"latitude\": [\n      59.972,\n      9.55,\n      48.195,\n      46.784,\n      41.573,\n      52.467,\n      49.399\n    ],\n    \"locale\": [\n      {\n        \"locale1\": \"Oslo\",\n        \"locale2\": null,\n        \"locale3\": null,\n        \"locale4\": null\n      },\n      {\n        \"locale1\": \"Oslob\",\n        \"locale2\": null,\n        \"locale3\": null,\n        \"locale4\": null\n      },\n      {\n        \"locale1\": \"Oslo\",\n        \"locale2\": null,\n        \"locale3\": null,\n        \"locale4\": null\n      },\n      {\n        \"locale1\": \"Oslon\",\n        \"locale2\": null,\n        \"locale3\": null,\n        \"locale4\": null\n      },\n      {\n        \"locale1\": \"Oslomej Municipality\",\n        \"locale2\": null,\n        \"locale3\": null,\n        \"locale4\": null\n      },\n      {\n        \"locale1\": \"Osloﬂ\",\n        \"locale2\": null,\n        \"locale3\": null,\n        \"locale4\": null\n      },\n      {\n        \"locale1\": \"Oslov\",\n        \"locale2\": null,\n        \"locale3\": null,\n        \"locale4\": null\n      }\n    ],\n    \"longitude\": [\n      10.776,\n      123.4,\n      -97.131,\n      4.923,\n      21.039,\n      10.683,\n      14.212\n    ],\n    \"neighborhood\": [\n      null,\n      null,\n      null,\n      null,\n      null,\n      null,\n      null\n    ],\n    \"placeId\": [\n      \"2b4bb1d53116f0f43359c40258182595dac57fdbb89ff9c8456e2b5b6b4ef256\",\n      \"1f4d98200ce6b41fd3a447ff4c8b1cf187535ebd6588c91562d3ef49129adda2\",\n      \"ac1c54f389aa165bcee735e2d51deb2bc7a7761d2dcf4c86cf8a3da5acf80c70\",\n      \"424f168ec20943295cc63af130ffa9791d62bdc2c0cbdd5556b4ef89781a80d2\",\n      \"02dbfb118590e4b3395790e4d9e39999b352d2daae2806fca360e723cd2013f6\",\n      \"11691e652ec6a59457e9d6966475072935649e9ff7c3a339ea93478ee6393c8d\",\n      \"1202599738e0235eb1965647529f85dad418c53bbdb21ee90b1658b9e79dadef\"\n    ],\n    \"postalCode\": [\n      null,\n      null,\n      \"56744\",\n      \"71380\",\n      null,\n      \"38557\",\n      null\n    ],\n    \"postalKey\": [\n      null,\n      null,\n      null,\n      null,\n      null,\n      null,\n      null\n    ]\n  }\n}\n*/","outputs":1,"noerr":0,"x":670,"y":220,"wires":[["305a8f6e.5207a","93a291de.a885a"]]},{"id":"300b093f.87d886","type":"debug","z":"6daa3f38.c4a55","name":"Weather response","active":true,"console":"false","complete":"payload","x":910,"y":280,"wires":[]},{"id":"93a291de.a885a","type":"http request","z":"6daa3f38.c4a55","name":"Weather","method":"GET","ret":"obj","url":"","tls":"","x":640,"y":320,"wires":[["300b093f.87d886","dd3698ec.bce338"]]},{"id":"dd3698ec.bce338","type":"function","z":"6daa3f38.c4a55","name":"Parse Weather","func":"var text =\"\";\n\nif (msg.startDate) {\n    var city = msg.city;\n    for (var i=0; i<msg.payload.forecasts.length; i++) {\n        var forecast = msg.payload.forecasts[i];\n        if (forecast.fcst_valid_local.startsWith(msg.startDate + 'T')) {\n            text += 'The forecast for ' + city;\n            text += (forecast.day.daypart_name === 'Tomorrow' ? ' ' : ' on ') + forecast.day.daypart_name;\n            // + ' on ' + forecast.day.daypart_name; // dow + ' ' + msg.startDate;\n            text += ' is ' + forecast.day.narrative;\n            text = text.replace(forecast.day.temp + 'C.', forecast.day.temp + ' degrees.');\n            text = text.replace('Winds ' + forecast.day.wdir_cardinal + ' ', 'Winds ');\n        }\n    }\n    \n} else {\n    // The weather in {obs_name} is {temp} degrees. The wind speed speed is {wspd} meter per second, so it feels like {feels_like} meter per second.\n    var city = msg.payload.observation.obs_name;\n    var splitCity = city.split('/');\n    if (splitCity.length>0) city = splitCity[0];\n    var wx_phrase = msg.payload.observation.wx_phrase;\n    var temp = msg.payload.observation.temp;\n    var wspd = msg.payload.observation.wspd;\n    var feels_like = msg.payload.observation.feels_like;\n    text += \"The current weather in \" + city + \" is \" + wx_phrase + \" with a temperature of \" + temp + \" degrees. \";\n    text += \"The wind is \" + wspd + \" kilometers per hour\"\n    text += (feels_like == temp ? \".\" : \", which makes it feel like \" + feels_like + \" degrees.\");\n}\n\nif (text === \"\")\n    text = \"Sorry, I didn't find the weather data\";\n    \nmsg.payload.text = text;\nreturn msg;\n\n/*\n{\n  \"metadata\": {\n    \"language\": \"en-US\",\n    \"transaction_id\": \"1492619724799:1192577680\",\n    \"version\": \"1\",\n    \"latitude\": 57.63,\n    \"longitude\": 11.94,\n    \"units\": \"m\",\n    \"expire_time_gmt\": 1492624800,\n    \"status_code\": 200\n  },\n  \"observation\": {\n    \"key\": \"02513\",\n    \"class\": \"observation\",\n    \"expire_time_gmt\": 1492624800,\n    \"obs_id\": \"02513\",\n    \"obs_name\": \"Goteborg\",\n    \"valid_time_gmt\": 1492617600,\n    \"day_ind\": \"D\",\n    \"temp\": 8,\n    \"wx_icon\": 34,\n    \"icon_extd\": 3400,\n    \"wx_phrase\": \"Fair\",\n    \"pressure_tend\": 2,\n    \"pressure_desc\": \"Falling\",\n    \"dewPt\": -5,\n    \"heat_index\": 8,\n    \"rh\": 40,\n    \"pressure\": 1033.8,\n    \"vis\": 45,\n    \"wc\": 5,\n    \"wdir\": 240,\n    \"wdir_cardinal\": \"WSW\",\n    \"gust\": 18,\n    \"wspd\": 14,\n    \"max_temp\": null,\n    \"min_temp\": null,\n    \"precip_total\": null,\n    \"precip_hrly\": 0,\n    \"snow_hrly\": null,\n    \"uv_desc\": \"Low\",\n    \"feels_like\": 5,\n    \"uv_index\": 1,\n    \"qualifier\": null,\n    \"qualifier_svrty\": null,\n    \"blunt_phrase\": null,\n    \"terse_phrase\": null,\n    \"clds\": null,\n    \"water_temp\": null,\n    \"primary_wave_period\": null,\n    \"primary_wave_height\": null,\n    \"primary_swell_period\": null,\n    \"primary_swell_height\": null,\n    \"primary_swell_direction\": null,\n    \"secondary_swell_period\": null,\n    \"secondary_swell_height\": null,\n    \"secondary_swell_direction\": null\n  }\n}\n*/","outputs":1,"noerr":0,"x":900,"y":320,"wires":[[]]},{"id":"f904b2cb.fcff7","type":"natural-language-understanding","z":"6daa3f38.c4a55","name":"NLU","categories":false,"concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":false,"maxentities":"5","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","x":350,"y":580,"wires":[["1f252125.0ae7ef"]]},{"id":"1f252125.0ae7ef","type":"function","z":"6daa3f38.c4a55","name":"Detect city","func":"var city = null;\nif (msg.features.entities && msg.features.entities.length>0) {\n    for (var i=0; i<msg.features.entities.length && !city; i++) {\n        var entity = msg.features.entities[i];\n        if (entity.type === 'Location')\n            city = entity.text;\n    }\n}\nif (!city) city = \"Gothenburg\"; // Default\nmsg.city = city;\n\nvar url = 'https://twcservice.mybluemix.net/api/weather/v3/location/search?query=' + city + '&locationType=city&language=en-US';\nmsg.url = url;\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":580,"wires":[["1639c9d5.603266"]]},{"id":"20c40d9a.10ad72","type":"http request","z":"6daa3f38.c4a55","name":"Get LatLong","method":"GET","ret":"obj","url":"","tls":"","x":450,"y":220,"wires":[["da5f1ec.573e3e","abe26f49.63bcd"]]},{"id":"1639c9d5.603266","type":"debug","z":"6daa3f38.c4a55","name":"City","active":false,"console":"false","complete":"url","x":710,"y":580,"wires":[]},{"id":"305a8f6e.5207a","type":"debug","z":"6daa3f38.c4a55","name":"To weather","active":false,"console":"false","complete":"payload","x":890,"y":160,"wires":[]},{"id":"bdfeab5c.db1858","type":"function","z":"6daa3f38.c4a55","name":"Prep NLU","func":"msg.payload = msg.payload.input.text;\nreturn msg;\n","outputs":1,"noerr":0,"x":180,"y":580,"wires":[["f904b2cb.fcff7"]]},{"id":"210e4258.a5e9fe","type":"function","z":"6daa3f38.c4a55","name":"City and Dates","func":"var city = null;\nvar startDate = null;\nvar endDate = null;\n\nif (msg.payload.entities) {\n    for (var i=0; i<msg.payload.entities.length; i++) {\n        var entity = msg.payload.entities[i];\n        if (entity.entity === 'sys-location' && city === null) {\n            city = entity.value;\n        } else if (entity.entity === 'sys-date') {\n            if (startDate === null)\n                startDate = entity.value;\n            else\n                endDate = entity.value;\n        }\n    }\n}\nif (!city) city = \"Gothenburg\"; // Default\nmsg.city = city;\nmsg.startDate = startDate;\nmsg.endDate = endDate;\n\nvar url = 'https://twcservice.mybluemix.net/api/weather/v3/location/search?query=' + city + '&locationType=city&language=en-US';\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":220,"wires":[["20c40d9a.10ad72","c96b1f6b.d1001"]]},{"id":"c96b1f6b.d1001","type":"debug","z":"6daa3f38.c4a55","name":"Entities","active":true,"console":"false","complete":"true","x":440,"y":160,"wires":[]},{"id":"abe26f49.63bcd","type":"debug","z":"6daa3f38.c4a55","name":"LatLong","active":true,"console":"false","complete":"payload","x":660,"y":160,"wires":[]},{"id":"47d929f0.e399c8","type":"subflow","name":"Bus","info":"","in":[{"x":40,"y":340,"wires":[{"id":"4255ea89.1260e4"}]}],"out":[{"x":1040,"y":500,"wires":[{"id":"9e9c5fa4.dbbb2","port":0}]}]},{"id":"4255ea89.1260e4","type":"function","z":"47d929f0.e399c8","name":"Prep for token","func":"msg.payload = 'grant_type=client_credentials';\nreturn msg;\n","outputs":1,"noerr":0,"x":180,"y":340,"wires":[["5949bc24.ea0ed4"]]},{"id":"5949bc24.ea0ed4","type":"http request","z":"47d929f0.e399c8","name":"Get Token","method":"POST","ret":"obj","url":"https://api.vasttrafik.se/token","tls":"","x":370,"y":340,"wires":[["c32cbf9.3fe1e4","568df7a.61c1b08"]]},{"id":"c32cbf9.3fe1e4","type":"debug","z":"47d929f0.e399c8","name":"TOKEN","active":true,"console":"false","complete":"payload","x":590,"y":280,"wires":[]},{"id":"568df7a.61c1b08","type":"function","z":"47d929f0.e399c8","name":"Prep Bus departure","func":"var now = new Date();\nvar year = now.getFullYear();\nvar month = now.getMonth() + 1;\nvar day = now.getDate();\nvar date = year + '-' + pad(month) + '-' + pad(day);\n\nvar hours = now.getHours() + 2;\nvar minutes = now.getMinutes();\nvar time = pad(hours) + '%3A' + pad (minutes);\n\nvar token = msg.payload.access_token;\nmsg.headers = { 'Authorization': 'Bearer ' + token };\n\nvar url = 'https://api.vasttrafik.se/bin/rest.exe/v2/departureBoard';\nurl += '?id=9021014005477000';\nurl += '&date=' + date;\nurl += '&time=' + time;\nurl += '&useVas=0&useLDTrain=0&useRegTrain=0&useBoat=0&useTram=0&excludeDR=0&timeSpan=60&maxDeparturesPerLine=1&format=json';\nmsg.url = url;\n\nreturn msg;\n\nfunction pad(x) {\n    return (x < 10 ? '0' + x : x);\n}\n","outputs":1,"noerr":0,"x":620,"y":340,"wires":[["3f392781.5bbe68","793a661b.c43018"]]},{"id":"3f392781.5bbe68","type":"http request","z":"47d929f0.e399c8","name":"V‰sttrafik","method":"GET","ret":"obj","url":"","tls":"","x":660,"y":500,"wires":[["3604c805.182a08","9e9c5fa4.dbbb2"]]},{"id":"3604c805.182a08","type":"debug","z":"47d929f0.e399c8","name":"V‰sttrafik","active":true,"console":"false","complete":"payload","x":880,"y":440,"wires":[]},{"id":"9e9c5fa4.dbbb2","type":"function","z":"47d929f0.e399c8","name":"Parse output","func":"var text = '';\nvar departures = msg.payload.DepartureBoard.Departure;\nfor (var i=0; i<departures.length; i++) {\n    var departure = departures[i];\n    var direction = departure.direction;\n    if (direction == \"Brottk‰rr\") direction = \"school\";\n    if (direction == \"Marklandsgatan\") direction = \"city\";\n    var name = departure.name;\n    var time = departure.time;\n//    text += 'Next bus towards ' + direction + ' is ' + name + '. Leaving at ' + time + '. ';\n    text += 'Next bus towards ' + direction + ' leaves at ' + time + '. ';\n}\n\nmsg.payload.text = text;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":500,"wires":[[]]},{"id":"793a661b.c43018","type":"debug","z":"47d929f0.e399c8","name":"Bus departure","active":true,"console":"false","complete":"payload","x":900,"y":280,"wires":[]},{"id":"73b9991b.1b8818","type":"http in","z":"d8deed15.ca188","name":"Input","url":"/talk","method":"get","swaggerDoc":"","x":170,"y":200,"wires":[["c35ca89d.2fe0c8","e970bbd0.384e58"]]},{"id":"841af931.d2b418","type":"watson-conversation-v1","z":"d8deed15.ca188","name":"","workspaceid":"","multiuser":false,"context":true,"default-endpoint":false,"service-endpoint":"","x":610,"y":200,"wires":[["47b0fadb.dd9444","3b27f864.521de8"]]},{"id":"c35ca89d.2fe0c8","type":"debug","z":"d8deed15.ca188","name":"Input","active":false,"console":"false","complete":"payload","x":370,"y":140,"wires":[]},{"id":"95101a6a.a9c518","type":"http response","z":"d8deed15.ca188","name":"","x":930,"y":580,"wires":[]},{"id":"e970bbd0.384e58","type":"function","z":"d8deed15.ca188","name":"Pre Conv","func":"msg.additional_context = { \"action\" : null };\nvar text = msg.payload.text;\nif (text)\n    msg.payload = text;\n// Clear the global context where we store text output (e.g. Turn on/off lamp saves Conversation output here to be retrieved after calling openhab)\nglobal.set('text', null);\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":200,"wires":[["841af931.d2b418","7c503291.bbd5ec"]]},{"id":"ba9c3cb6.182f8","type":"function","z":"d8deed15.ca188","name":"Response","func":"var response = {};\n\n// If we come straight from Conversation\nif (msg.payload.context)\n    response.action = msg.payload.context.action;\nif (msg.payload.output && msg.payload.output.text) \n    response.text = msg.payload.output.text[0];\n\n// If we come from a subflow\nif (msg.payload.text)\n    response.text = msg.payload.text;\n\n// If we come from e.g. turn on/off lamp\nif (global.get('text') !== null)\n    response.text = global.get('text');\n\nmsg.payload = response;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":580,"wires":[["95101a6a.a9c518","365f80db.e5d8c"]]},{"id":"7c503291.bbd5ec","type":"debug","z":"d8deed15.ca188","name":"To Conv","active":true,"console":"false","complete":"payload","x":600,"y":140,"wires":[]},{"id":"47b0fadb.dd9444","type":"debug","z":"d8deed15.ca188","name":"From Conv","active":true,"console":"false","complete":"payload","x":850,"y":140,"wires":[]},{"id":"365f80db.e5d8c","type":"debug","z":"d8deed15.ca188","name":"Response","active":true,"console":"false","complete":"payload","x":950,"y":520,"wires":[]},{"id":"3b27f864.521de8","type":"switch","z":"d8deed15.ca188","name":"Action","property":"payload.context.action","propertyType":"msg","rules":[{"t":"eq","v":"weather","vt":"str"},{"t":"eq","v":"bus_departure","vt":"str"},{"t":"eq","v":"lawnmower","vt":"str"},{"t":"eq","v":"turn_on_lamp","vt":"str"},{"t":"eq","v":"turn_off_lamp","vt":"str"},{"t":"else"}],"checkall":"true","outputs":6,"x":210,"y":540,"wires":[["243691eb.0bf5ee"],["77ce46d8.ebf768"],[],[],[],["ba9c3cb6.182f8"]]},{"id":"77ce46d8.ebf768","type":"subflow:47d929f0.e399c8","z":"d8deed15.ca188","x":430,"y":520,"wires":[["ba9c3cb6.182f8"]]},{"id":"243691eb.0bf5ee","type":"subflow:6daa3f38.c4a55","z":"d8deed15.ca188","x":440,"y":480,"wires":[["ba9c3cb6.182f8"]]},{"id":"cca1c25b.43af3","type":"subflow:d015f56e.3e42f8","z":"d8deed15.ca188","x":170,"y":300,"wires":[["e970bbd0.384e58"],["e970bbd0.384e58"],["e970bbd0.384e58"],["e970bbd0.384e58"],["e970bbd0.384e58"]]}]